
extends ../../layout/main

block styles
    link(rel="stylesheet" href="/dist/assets/css/styles.css")

append body

    include ../partials/header

    section.docs-body.container.pad-20.dt-pad-50.center.pos-r

        .docs-sidebar.pos-a.t30.r20.dt-r50

            include ../partials/sidebar

        .docs-content.f1

            block content


