
extends ../../layout/main
include ../partials/mixins.jade

block styles
    link(rel="stylesheet" href="/dist/assets/css/styles.css")

append body

    include ../partials/header

    section.docs-body.container.pad-h4.dt-pad-h7.mar-v4.dt-mar-v7.center.pos-r

        .docs-sidebar.pos-a.t0.r0.pad-4.dt-r7.bg-white

            include ../partials/sidebar

        .docs-content.f1

            block content


