
extends ../../layout/main

block styles
    link(rel="stylesheet" href="../assets/css/styles.css")

append body

    include ../partials/header

    section.docs-body.container.pad-l50.pad-t30.center.pos-r

        .docs-sidebar.pos-a.t0.r0.pad-t30

            include ../partials/sidebar

        .docs-content.f2

            block content


