
.bg-cream.pad-v15.pad-h30

    h3 html

    pre
        code(data-lang="html").

            &lt;header class="my-header /
                white bg-black pad-v15 pad-h30 mar-10"&gt;

                my header

            &lt;/header&gt;

    pre
        code(data-lang="css").

            /* :) */
