
header.landing-header.bg-eezo-dark-purple.bg-c.bg-no-rpt

    .container.center.pos-r.pad-v50

        include ../../nav

        h1.mb-10.tb-6.center.pad-v20.pos-r.t10

            include /dist/assets/img/eezo.svg

            span.hidden Eezo