
@mixin opinions() {

    * {

        box-sizing: border-box;

    }

    html,
    body {

/*
 * stops ugly white backgrounds
 * when the content isn't as tall as window
 */

        height: 100%;
        margin: 0;
        padding: 0;

    }

}
