
@mixin clearfix() {

    &:before,
    &:after {

        content: " ";
        display: table;

    }

    &:after {

        clear: both;

    }

}

@mixin clears() {

    .clear {

        @include clearfix();

    }

}

@mixin visibility() {

    .hidden {

        clip: rect( 1px, 1px, 1px, 1px );
        overflow: hidden;
        position: fixed;

    }

}
