
@mixin links() {

/*
 * some default link styling
 */

    $link-normal:       map-get( $extra-colors, "blue" );
    $link-visited:      map-get( $extra-colors, "purple" );
    $link-hover:        map-get( $extra-colors, "green" );



    a:not([class]),
    a:not([class]):active,
    .link,
    .link:active {

        color: $link-normal;
        transition: color 1s ease;
        text-decoration: none;

    }

    a:visited:not([class]),
    .link:visited {

        color: $link-visited;

    }

    a:hover:not([class]),
    a:focus:not([class]),
    .link:hover,
    .link:focus {

        color: $link-hover;
        transition: color 0.24s ease;

    }

}
