
$line-height-prop:      "lh" !default;
$line-heights:          $text-scale !default;



@mixin line-height( $bps: $text-bps ) {

    $p: $line-height-prop;

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $height in $line-heights {

                $key: nth( $height, 1 );
                $val: nth( $height, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    line-height: strip( $val );
                }

            }

        }

    }

}
