
$line-height-prop:      "lh" !default;
$line-heights: (

    "2-":   0.5,
    "1-":   0.75,
    "0":    1,
    "1":    1.25,
    "2":    1.4,
    "3":    1.5,
    "4":    1.6,
    "5":    2,
    "6":    3,

) !default;



@mixin line-height( $bps: $text-bps ) {

    $p: $line-height-prop;

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $height in $line-heights {

                $key: nth( $height, 1 );
                $val: nth( $height, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    line-height: $val;
                }

            }

        }

    }

}
