
$text-size-prop:        "f" !default;
$text-sizes:            $font-sizes !default;

@mixin font-size( $bps: $text-bps ) {

    $p: $text-size-prop;

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $size in $text-sizes {

                $key: nth( $size, 1 );
                $val: nth( $size, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    font-size: rems( $val );
                }

            }

        }

    }

}