
$font-weight-prop:      "fw-" !default;
$font-weights: (

    "t":    100,
    "xl":   200,
    "l":    300,
    "bk":   400,
    "n":    normal,
    "m":    500,
    "sb":   600,
    "b":    bold,
    "bld":  700,
    "hvy":  800,
    "blk":  900,

) !default;



@mixin font-weight() {

    $p: $font-weight-prop;

    @each $weight in $font-weights {

        $key: nth( $weight, 1 );
        $val: nth( $weight, 2 );

        .#{ $p }#{ $key } {
            font-weight: $val;
        }

    }

}
