
$white-space-prop:       "whs" !default;
$white-space-bps:        $default-bps !default;

$white-spaces: (

    "wrap":         normal,
    "nowrap":       nowrap,
    "pre":          pre,
    "prewrap":      pre-wrap,
    "preline":      pre-line,

) !default;



@mixin white-space( $bps: $white-space-bps ) {

    $p: hyphen-after( $white-space-prop );

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $space in $white-spaces {

                $key: nth( $space, 1 );
                $val: nth( $space, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    white-space: $val;
                }

            }

        }

    }

}
