
$form-pad:              0.5rem !default;
$form-pad-top:          $form-pad !default;
$form-pad-bottom:       $form-pad !default;
$form-pad-left:         $form-pad !default;
$form-pad-right:        $form-pad !default;

$form-radius:           2px !default;

$form-border-default:   $eezo-light !default;
$form-border-hover:     $eezo-dark !default;
$form-border-focus:     $eezo-blue !default;
$form-border-error:     $eezo-red !default;

$form-placeholder:      $eezo-light !default;
$form-color-default:    $eezo-black !default;
$form-bg-default:       $eezo-wht !default;



@import "style";
@import "input";
@import "button";
@import "select";

@mixin forms() {

    @include style();
    @include button();
    @include input();
    @include select();

}
