
$form-pad:              0.5rem !default;
$form-pad-top:          $form-pad !default;
$form-pad-bottom:       $form-pad !default;
$form-pad-left:         $form-pad !default;
$form-pad-right:        $form-pad !default;

$form-radius:           2px !default;

$form-border-default:   map-get( $default-colors, "light" ) !default;
$form-border-hover:     map-get( $default-colors, "dark" ) !default;
$form-border-focus:     map-get( $colors, "blue" ) !default;
$form-border-error:     map-get( $colors, "red" ) !default;

$form-placeholder:      map-get( $default-colors, "light" ) !default;
$form-color-default:    map-get( $default-colors, "black" ) !default;
$form-bg-default:       map-get( $default-colors, "wht" ) !default;



@mixin forms() {

    .input,
    .select,
    .btn, .btn-alt {

        color: $form-color-default;
        background-color: $form-bg-default;

        outline: none;
        border: 1px solid $form-border-default;
        border-radius: $form-radius;
        transition: border 0.1s ease;

        vertical-align: middle;
        display: inline-block;
        padding-top:    $form-pad-top;
        padding-bottom: $form-pad-bottom;
        padding-left:   $form-pad-left;
        padding-right:  $form-pad-right;

        line-height: normal;

        &:focus,
        &:hover:focus {

            border-color: $form-border-focus;

        }

    }

    ::placeholder {

        color: $form-placeholder;

    }

    @include button();
    @include input();
    @include select();

}
