
$form-pad:              0.5rem !default;
$form-pad-top:          $form-pad !default;
$form-pad-bottom:       $form-pad !default;
$form-pad-left:         $form-pad !default;
$form-pad-right:        $form-pad !default;

$form-radius:           2px !default;

$form-border-default:   map-get( $default-colors, "grey" ) !default;
$form-border-hover:     map-get( $default-colors, "black" ) !default;
$form-border-focus:     map-get( $colors, "blue" ) !default;
$form-border-error:     map-get( $colors, "red" ) !default;

$form-color-default:    map-get( $default-colors, "black" ) !default;
$form-bg-default:       map-get( $default-colors, "white" ) !default;



@mixin forms() {

    .input,
    .select,
    .btn, .btn-alt {

        vertical-align: middle;
        display: inline-block;

        border-radius: $form-radius;
        border: 1px solid $form-border-default;

        color: $form-color-default;
        background-color: $form-bg-default;

        padding-top:    $form-pad-top;
        padding-bottom: $form-pad-bottom;
        padding-left:   $form-pad-left;
        padding-right:  $form-pad-right;

        line-height: normal;

        &:active,
        &:focus {

            outline: 2px auto $form-border-focus;

        }

    }

    @include button();
    @include input();
    @include select();

}
