
$button-pad-v:          $form-pad !default;
$button-pad-h:          $form-pad * 3 !default;
$button-radius:         $form-radius !default;

$button-color:          map-get( $base-colors, "white" ) !default;
$button-bg:             map-get( $base-colors, "pitch" ) !default;
$button-alt-color:      map-get( $base-colors, "white" ) !default;
$button-alt-bg:         map-get( $base-colors, "dark" ) !default;

$button-opacity-default:    0.9 !default;
$button-opacity-active:     1 !default;



@mixin button() {

    .btn,
    .btn-alt {

        text-align: center;
        opacity: $button-opacity-default;

        &:hover,
        &:focus {

            opacity: $button-opacity-active;

        }

    }

    .btn {

        color: $button-color;
        border-color: $button-bg;
        background-color: $button-bg;

    }

    .btn-alt {

        color: $button-alt-color;
        border-color: $button-alt-bg;
        background-color: $button-alt-bg;

    }

    .btn-min {

        min-width: 8rem;

    }

}