
$container-prop:    "container" !default;
$row-prop:          "row" !default;
$column-prop:       "col" !default;
$shift-prop:        "shift" !default;
$push-prop:         "push" !default;
$pull-prop:         "pull" !default;

$grid-bps:          $default-bps !default;

$column-padding:    1rem !default;



@import "container";
@import "row";
@import "column";

@mixin grid() {

    @include containers();
    @include rows();
    @include columns();

    @include column-sizes();
    @include column-shift();
    @include column-pull();
    @include column-push();

}
