
$container-prop:    "container" !default;
$row-prop:          "row" !default;
$column-prop:       "col" !default;

$grid-bps:          $default-bps !default;



@mixin grid() {

    @include container();

    @include rows();

    @include columns();
    @include column-sizes();
    @include column-shift();
    @include column-pull();
    @include column-push();

}
