
$columns-max:   12 !default;

@mixin columns() {

    .#{ $column-prop },
    .#{ $column-prop }s {

        width: percentage( 1 / $columns-max );

        display: block;
        padding: $column-padding;

        &:not( .centered ):not( .center ) {

            float: left;

            &:last-child:not( :first-child ):not( .end ) {

                float: right;

            }

        }

    }

    .center,
    .centered {

        float: none;
        margin-left: auto;
        margin-right: auto;

    }

}



@mixin column-sizes( $bps: $default-bps ) {

    @each $b in $bps {

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @for $i from 1 through $columns-max {

                .#{ $bp }#{ $i } {

                    width: percentage( $i / $columns-max );

                }

            }

        }

    }

}



@mixin column-shift( $bps: $default-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @for $i from 1 through $columns-max {

                .#{ $bp }#{ $shift-prop }-#{ $i } {

                    margin-left: percentage( $i / $columns-max );

                }

            }

        }

    }

}



@mixin column-pull( $bps: $default-bps ) {

    [ class *= "#{ pull- }" ] {

        position: relative;

    }

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @for $i from 1 through $columns-max {

                .#{ $bp }#{ $pull-prop }-#{ $i } {

                    left: - percentage( $i / $columns-max );

                }

            }

        }

    }

}



@mixin column-push( $bps: $default-bps ) {

    [ class *= "#{ push- }" ] ) {

        position: relative;

    }

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @for $i from 1 through $columns-max {

                .#{ $bp }#{ $push-prop }-#{ $i } {

                    left: percentage( $i / $columns-max );

                }

            }

        }

    }

}
