
@mixin rows() {

    .#{ $row-prop } {

        display: block;

        @include clearfix();

    }

    .#{ $row-prop } .#{ $row-prop } {

        margin-left: -$column-padding;
        margin-right: -$column-padding;

    }

}