
doctype html

html

    head

        block title
            title eezo | massless css framework

        block meta
            <meta charset="utf-8" />
            meta(description="a lightweight and responsive css framework")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name="theme-color" content="#32295F")

        block styles
            link(rel="stylesheet" href="/dist/assets/css/styles.css")

    block body

        body.f0.lh3.pos-r.pad-b50.bg-pitch.light





    footer

        block scripts
            script(src="/dist/assets/js/app.js")