
doctype html

html.loading.no-js

    head

        title eezo | 
            block title
                | massless css framework

        block meta
            <meta charset="utf-8" />
            meta(description="a lightweight and responsive css framework")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(name="theme-color" content="#32295F")

        script.
            document.getElementsByTagName("html")[0].classList.remove("no-js");

        block styles
            link(rel="stylesheet" href="/dist/assets/css/styles.css")

    body.f0.lh3.pos-r.pad-b6.bg-white.dark

        block body





        footer

            script.

                WebFontConfig = {
                    google: { families: [ 'Merriweather:300,700,300italic,700italic:latin' ] }
                };

                (function() {
                    var wf = document.createElement('script');
                    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
                    wf.type = 'text/javascript';
                    wf.async = 'true';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(wf, s);
                })();

                setTimeout(function(){
                    document.getElementsByTagName("html")[0].classList.remove("loading");
                }, 100);

            block scripts
                script(src="/dist/assets/js/app.js")