
$svg-fill-prop:         "fill" !default;
$svg-fill-colors:       $svg-colors !default;



@mixin svg-fill() {

    $p: hyphen-after( $svg-fill-prop );

    @each $clr in $svg-fill-colors {

        $key: nth( $clr, 1 );
        $val: nth( $clr, 2 );

        .#{ $p }#{ $key } {
            fill: $val;
        }

    }

}
