
$position-bps:          $default-bps !default;
$position-dist:         $distances !default;
$position-neg-dist:     $distances-neg !default;

$position-coords: (

    t:      "top",
    b:      "bottom",
    r:      "right",
    l:      "left",

) !default;

$position-neg-coords:   $position-coords !default;



@import "position";
@import "positioning";
@import "positioning-negative";

@mixin positions() {

    @include position();
    @include positioning();
    @include positioning-negative();

}
