
/**
 * colors can not be overridden, but
 * it can be configured with $custom-colors
 * @type { key/value list }
 */
$colors:            ();

/**
 * custom-colors can be defined so that your
 * own project has it's brand colours available
 * as backgrounds/borders/text/etc
 *
 * @type { key/value list }
 */
$custom-colors:     () !default;

/**
 * base-colors are static, and available
 * always, try to make use of them.
 *
 * @type { key/value list }
 */

$eezo-x:         transparent;
$eezo-blk:       #000;
$eezo-black:     #1a1a1a;
$eezo-cream:     #f7f2eb;
$eezo-wht:       #fff;
$eezo-white:     #f9f9f9;
$eezo-grey:      #82848e;
$eezo-dark:      #575c67;
$eezo-light:     #b5b8bf;
$eezo-pitch:     #161f23;

$base-colors: (

    x:          $eezo-x,
    blk:        $eezo-blk,
    black:      $eezo-black,
    cream:      $eezo-cream,
    wht:        $eezo-wht,
    white:      $eezo-white,
    grey:       $eezo-grey,
    dark:       $eezo-dark,
    light:      $eezo-light,
    pitch:      $eezo-pitch,

);

/**
 * extra-colors are some nice default colours
 * you could use in your projects, but
 * they are not for everyone, so save some
 * kilobytes by turning them off with:
 *
 * - $no-extra-colors: true;
 *
 * @type { key/value list }
 */

$eezo-blue:     #1e9bd6;
$eezo-green:    #1ed668;
$eezo-mint:     #31e894;
$eezo-orange:   #d66a1e;
$eezo-pink:     #ec2666;
$eezo-purple:   #5930d6;
$eezo-red:      #d61e40;
$eezo-teal:     #26ab92;
$eezo-violet:   #981bd8;
$eezo-yellow:   #d6d01e;
$eezo-silver:   #dde3e6;
$eezo-gold:     #c7aa5c;

$extra-colors: (

    blue:       $eezo-blue,
    green:      $eezo-green,
    mint:       $eezo-mint,
    orange:     $eezo-orange,
    pink:       $eezo-pink,
    purple:     $eezo-purple,
    red:        $eezo-red,
    teal:       $eezo-teal,
    violet:     $eezo-violet,
    yellow:     $eezo-yellow,
    silver:     $eezo-silver,
    gold:       $eezo-gold,

);

// merge the colours together.

$colors: map-merge( $colors, $base-colors );
$colors: map-merge( $colors, $custom-colors );

@if ( $no-extra-colors != true ) {
    $colors: map-merge( $extra-colors, $colors );
}
