
$code-bg:         $pitch-darker;
$code-plain:      $eezo-light;
$code-comment:    #757B88;
$code-green:      #8CE7CA;
$code-blue:       #98D8F7;
$code-yellow:     #F5E9BD;
$code-purple:     $purple;
$code-pink:       $pink;

pre {

  .pln { color: $code-plain; }

  @media screen {
    /* string content */
    .str { color: $code-purple; }
    /* a keyword */
    .kwd { color: #cc99cc; }
    /* a comment */
    .com { color: $code-comment; }
    /* a type name */
    .typ { color: $code-blue; }
    /* a literal value */
    .lit { color: $code-pink; }
    /* punctuation */
    .pun { color: $code-plain; }
    /* lisp open bracket */
    .opn { color: $code-plain; }
    /* lisp close bracket */
    .clo { color: $code-plain; }
    /* a markup tag name */
    .tag { color: $code-green; }
    /* a markup attribute name */
    .atn { color: $code-blue; }
    /* a markup attribute value */
    .atv { color: $code-yellow; }
    /* a declaration */
    .dec { color: $code-green; }
    /* a variable name */
    .var { color: #f2777a; }
    /* a function name */
    .fun { color: #6699cc; }
  }

  &.lang-css {
    @media screen {

      .pln { color: $code-plain; }
      /* a keyword */
      .kwd { color: $code-blue; }
      /* a literal value */
      .lit { color: $code-pink; }

    }
  }
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.code {

  font-size: 1.125rem;
  background: $code-bg;
  color: $eezo-light;
  padding: 20px;
  border-radius: 3px;
  overflow-x: auto;

}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}