


$custom-colors: (
);

$custom-fonts: (
    raleway: "Raleway"
);



@import "bower_components/eezo/src/eezo";
@import "pretty";



html:not( .no-js ) {

    will-change: opacity;
    transition: opacity 0.25s ease-out;

    &.wf-loading,
    &.loading {

        opacity: 0;
        transition: none;

    }

}


code:not( [ class *= "language-" ] ) {

    background: rgba(3, 169, 244, 0.05);
    border: 1px solid rgba(3, 169, 244, 0.11);
    border-radius: 3px;
    padding: 0.1em 0.25em;

}

code[ class *= "language-" ] {

    display: block;

}

a.subtitle {
    color: inherit;
}

nav {

    ul {

        list-style: none;

    }

}

.main-nav {

    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);

}

.landing-header {

    background-image: url( "../img/nebular@0,25x.jpg" );
    background-size: cover;

    @include breakpoint( tb ) {

        background-image: url( "../img/nebular.jpg" );
        background-size: auto;

    }

    svg path {

        fill: black;

    }

}

.docs-header {

    &__logo { 

        width: 14rem;

    }

    svg path {

        fill: black;

    }

}

.docs-sidebar {

    width: 16rem;

    ul {

        list-style: none;

    }

    @media screen and ( max-width: 53.99em ) {

        position: fixed;
        width: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;

        background: $eezo-silver;

        will-change: transform;
        transform: translateX( -120% );
        transition: transform 0.3s ease;

        &:before,
        &:after {
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            height: 32px;
            box-shadow: 0 10px 22px 7px $eezo-silver;
        }

        &:after {

            top: auto;
            bottom: 0;
            box-shadow: 0 -10px 22px 7px $eezo-silver;

        }


        ul {

            padding: 1rem 0;
            height: 100%;
            overflow-y: auto;

        }

        h4,
        li {

            font-size: 1.6rem;

        }

        h4 {
            font-weight: 600;
        }

        li {
            font-weight: 200;
        }

    }

}

@media screen and ( max-width: 53.99em ) {

    .menu-open {

        overflow: hidden;

        .docs-sidebar {

            transform: none;

        }

    }

}

.docs-content {

    @media screen and ( min-width: 54em ) {

        margin-right: 20rem;

    }

    @media screen and ( min-width: 60em ) {

        margin-right: 24rem;

    }

}
