


$custom-colors: (



);



@import "bower_components/eezo/src/eezo";
@import "pretty";





code:not( [ class *= "language-" ] ) {

    background: #eee;
    border: 1px dotted #ccc;
    border-radius: 3px;
    padding: 0.2em 0.5em;

}

code[ class *= "language-" ] {

    display: block;

}


nav {

    ul {

        list-style: none;

    }

}

.main-nav {

    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);

}

.landing-header {

    background-image: url( "../img/nebular@0,25x.jpg" );
    background-size: cover;

    @include breakpoint( tb ) {

        background-image: url( "../img/nebular.jpg" );
        background-size: auto;

    }

    svg path {

        fill: black;

    }

}

.docs-header {

    &__logo { 

        width: 14rem;

    }

    svg path {

        fill: black;

    }

}

.docs-sidebar {

    width: 16rem;

    ul {

        list-style: none;

    }

}

.docs-content {

    margin-right: 24rem;

}
