
$purple:            #B8A2FD;
$dark-purple:       #32295F;
$beige:             #fec894;
$pink:              #F77F9F;
$blue:              #6CAEDA;
$pitch:             #161f23;
$pitch-lighter:     lighten( $pitch, 5% );
$pitch-darker:      darken( $pitch, 5% );

$custom-colors: (

    purple:         $purple,
    dark-purple:    $dark-purple,
    beige:          $beige,
    pink:           $pink,
    blue:           $blue,
    pitch:          $pitch,
    pitch-lighter:  $pitch-lighter,
    pitch-darker:   $pitch-darker,

);

$link-normal:   $blue;
$link-hover:    $pink;

@import "bower_components/eezo/src/eezo";






nav {

    ul {

        list-style: none;

    }

}

.landing-header {

    background-image: url( "../img/nebular@0,25x.jpg" );
    background-size: cover;

    @include breakpoint( tb ) {

        background-image: url( "../img/nebular.jpg" );
        background-size: auto;

    }

    svg path {

        fill: $pitch;

    }

}

.docs-header {

    &__logo { 

        width: 200px;

    }

    svg path {

        fill: $blue;

    }

}

.docs-sidebar {

    width: 250px;

    ul {

        list-style: none;

    }

}

.docs-content {

    margin-right: 350px;

}
