
extends ./layout/main

append body

    body.bg-white

        header.bg-eezo.pad-v50
            include ./partials/header


        section.container.row.center

            .col.tb-6
                include ./partials/instead-of

            .col.tb-6
                include ./partials/do-this


