
extends ../layout/main

append body

        include ./partials/header

        section.container.row.center.pad-h20

            .col.tb-6.pad-h50

                h3 What is it?
                p
                    | Eezo is a composable set of html classes which can be
                    | used to define and build a website's style. Define your
                    | scales, colours, patterns, etc. Then reuse them over and
                    | over without writing CSS.

            .col.tb-6.pad-h50

                h3 Why should I care?
                p
                    | Developers should be spending less time writing
                    | css, and more time thinking about important stuff like
                    | performance, architecture and what to eat for lunch!

                p: em
                    | And css is notoriously easy to f**k up.


