
$display-prop:      "disp" !default;
$display-bps:       $default-bps !default;

$displays: (

    "n":     none,
    "i":     inline,
    "b":     block,
    "ib":    inline-block,
    "it":    inline-table,
    "tb":    table,
    "tc":    table-cell,
    "tcol":  table-column,
    "tcolg": table-column-group,
    "flex":  flex,

) !default;



@mixin display( $bps: $display-bps ) {

    $p: hyphen-after( $display-prop );

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            @each $disp in $displays {

                $key: nth( $disp, 1 );
                $val: nth( $disp, 2 );

                .#{ hyphen-after($b) }#{ $p }#{ $key } {
                    display: $val;
                }

            }

        }

    }

}
