
$float-prop:      "float" !default;
$float-bps:       $default-bps !default;

$floats: (

    "l":     left,
    "r":     right,
    "n":     none,

) !default;



@mixin floats( $bps: $float-bps ) {

    $p: hyphen-after( $float-prop );

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $flo in $floats {

                $key: nth( $flo, 1 );
                $val: nth( $flo, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    float: $val;
                }

            }

        }

    }

}
