
$link-normal:       $eezo-blue !default;
$link-hover:        $eezo-teal !default;
$link-visited:      $eezo-purple !default;



@mixin links() {

    %link {

        & {

            color: $link-normal;
            text-decoration: none;
            transition: color 0.8s ease;

        }

        &:hover,
        &:focus {

            color: $link-hover;
            transition: color 0.2s ease;

        }

        &:visited {

            color: $link-visited;

        }

    }

    .link {

        @extend %link;

    }

}
