
@mixin links() {

    $link-normal:       map-get( $extra-colors, "blue" );
    $link-visited:      map-get( $extra-colors, "purple" );
    $link-hover:        map-get( $extra-colors, "teal" );



    %link {

        &,
        &:active {

            color: $link-normal;
            transition: color 1s ease;
            text-decoration: none;

        }

        &:visited {

            color: $link-visited;

        }

        &:hover,
        &:focus {

            color: $link-hover;
            transition: color 0.2s ease;

        }

    }

    .link {

        @extend %link;

    }

}
