
$link-normal:       map-get( $extra-colors, "blue" ) !default;
$link-visited:      map-get( $extra-colors, "purple" ) !default;
$link-hover:        map-get( $extra-colors, "teal" ) !default;



@mixin links() {

    %link {

        &,
        &:active {

            color: $link-normal;
            text-decoration: none;
            transition: color 0.8s ease;

        }

        &:visited {

            color: $link-visited;

        }

        &:hover,
        &:focus {

            color: $link-hover;
            transition: color 0.2s ease;

        }

    }

    .link {

        @extend %link;

    }

}
