
// defaults based on defaults.scss.
// override in your project before including @mixin for customisation.

$margin-prop: "mar" !default;
$margin-bps: $default-bps !default;

$margin-coords: $coords !default;
$margin-coords-neg: $coords-neg !default;

$margin-dist: $distances !default;
$margin-dist-neg: $distances-neg !default;


// the output mixin which we can use in eezo.scss
// and can be included in your project.

@mixin margin( $bps: $margin-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {
            @include coords(( #{hyphen-after($b)}#{$margin-prop}, "margin" ), $margin-dist );
            @include coords(( #{hyphen-after($b)}#{$margin-prop}, "margin" ), $margin-dist-neg, $margin-coords-neg );
        }

    }

}
