
// defaults based on defaults.scss.
// override in your project before including @mixin for customisation.

$padding-prop: "pad" !default;
$padding-bps: $default-bps !default;

$padding-coords: $coords !default;
$padding-dist: $distances !default;


// the output mixin which we can use in eezo.scss
// and can be included in your project.

@mixin padding( $bps: $padding-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {
            @include coords(( #{hyphen-after($b)}#{$padding-prop}, "padding" ), $padding-dist );
        }

    }

}
