
// defaults based on defaults.scss.
// override in your project before including @mixin for customisation.

$text-prop: "txt" !default;
$text-bps: $default-bps !default;

$font-weight-prop: "fw" !default;
$font-weights: (
    "thin":       100,
    "x-light":    200,
    "light":      300,
    "book":       400,
    "n":          normal,
    "medium":     500,
    "d-bold":     600,
    "b":          bold,
    "bold":       700,
    "x-bold":     800,
    "heavy":      800,
    "black":      900
) !default;



$font-family-prop: $text-prop !default;

$font-sans:     "Noto Sans", "Open Sans", Lato, "Segoe UI", "Helvetica Neue", Helvetica, Arial !default;
$font-serif:    "Noto Serif", Merriweather, Georgia !default;
$font-code:     Menlo, Monaco, Consolas !default;
$font-heading:  "Proxima Nova", Lato, Avenir, Arial !default;
$font-zh-sans:  微软雅黑体, 微软雅黑, "Microsoft YaHei", 黑体, SimHei, 冬青黑体, "Hiragino Sans GB", 华文黑体, STHeiti !default;
$font-zh-serif: 新細明體, PMingLiU, 华文细黑, STXihei, 宋体, SimSun !default;

$fonts: (
    code: $font-code + ", monospace",
    heading: $font-heading + ", " + $font-zh-sans + ", sans-serif",
    sans: $font-sans + ", " + $font-zh-sans + ", sans-serif",
    serif: $font-serif + ", " + $font-zh-serif + ", serif"
) !default;


$font-style-prop: "fs" !default;
$font-styles: (
    n: "normal",
    i: "italic"
) !default;


$line-height-prop: "lh" !default;
$line-heights: $font-sizes !default;


$text-align-prop: $text-prop !default;
$text-aligns: (
    l: "left",
    r: "right",
    c: "center",
    j: "justify",
    ja: "justify-all",
    s: "start",
    e: "end"
) !default;


$text-color-prop: $text-prop !default;
$text-colors: $colors !default;


$text-decoration-prop: $text-prop !default;
$text-decorations: (
    oline: "overline",
    uline: "underline",
    strike: "line-through",
    bline: "overline underline",
    aline: "overline line-through underline",
    noline: "none" 
) !default;


$text-transform-prop: "trans" !default;
$text-transforms: (
    u: "uppercase",
    l: "lowercase",
    c: "capitalize",
    n: "none"
) !default;



// the output mixins which we can use in eezo.scss
// and can be included in your project.

@mixin font-families() {
            
    @each $family in $fonts {
        
        $key: nth( $family, 1 );
        $val: nth( $family, 2 );

        .#{ hyphen-after( $font-family-prop ) }#{ $key } {
            font-family: unquote( $val );
        }

    }

}

@mixin font-sizes( $bps: $text-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {
            
            @each $size in $font-sizes {
                
                $key: nth( $size, 1 );
                $val: nth( $size, 2 );

                .#{ hyphen-after($b) }#{ $text-prop }#{ $key } {
                    font-size: rems( $val );
                }

            }

        }

    }

}

@mixin font-styles() {
            
    @each $style in $font-styles {
        
        $key: nth( $style, 1 );
        $val: nth( $style, 2 );

        .#{ hyphen-after( $font-style-prop ) }#{ $key } {
            font-style: $val;
        }

    }

}

@mixin font-weights() {
            
    @each $weight in $font-weights {
        
        $key: nth( $weight, 1 );
        $val: nth( $weight, 2 );

        .#{ hyphen-after( $font-weight-prop ) }#{ $key } {
            font-weight: $val;
        }

    }

}

@mixin line-heights( $bps: $text-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {
            
            @each $height in $line-heights {
                
                $key: nth( $height, 1 );
                $val: nth( $height, 2 );

                .#{ hyphen-after($b) }#{ $line-height-prop }#{ $key } {
                    line-height: strip( $val );
                }

            }

        }

    }

}

@mixin text-aligns( $bps: $text-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {
            
            @each $align in $text-aligns {
                
                $key: nth( $align, 1 );
                $val: nth( $align, 2 );

                .#{ hyphen-after($b) }#{ hyphen-after( $text-align-prop ) }#{ $key } {
                    text-align: $val;
                }

            }

        }

    }

}

@mixin text-colors() {
            
    @each $color in $text-colors {
        
        $key: nth( $color, 1 );
        $val: nth( $color, 2 );

        .#{ hyphen-after( $text-color-prop ) }#{ $key } {
            color: $val;
        }

    }

}

@mixin text-decorations() {
            
    @each $deco in $text-decorations {
        
        $key: nth( $deco, 1 );
        $val: nth( $deco, 2 );

        .#{ hyphen-after( $text-decoration-prop ) }#{ $key } {
            text-decoration: $val;
        }

    }

}

@mixin text-transforms( $bps: $text-bps ) {

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            @each $trans in $text-transforms {
        
                $key: nth( $trans, 1 );
                $val: nth( $trans, 2 );

                .#{ hyphen-after($b) }#{ hyphen-after( $text-transform-prop ) }#{ $key } {
                    text-transform: $val;
                }

            }

        }

    }

}




@mixin text() {

    @include font-families();
    @include font-styles();
    @include font-weights();
    @include font-sizes();
    @include line-heights();
    @include text-aligns();
    @include text-colors();
    @include text-decorations();
    @include text-transforms();

}
