
$valign-prop:       "va" !default;
$valign-bps:        $default-bps !default;

$valigns: (

    "base":     baseline,
    "bot":      bottom,
    "mid":      middle,
    "sub":      sub,
    "sup":      super,
    "top":      top,
    "tbot":     text-bottom,
    "ttop":     text-top,

) !default;



@mixin valigns( $bps: $valign-bps ) {

    $p: hyphen-after( $valign-prop );

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $va in $valigns {

                $key: nth( $va, 1 );
                $val: nth( $va, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    vertical-align: $val;
                }

            }

        }

    }

}
