
extends ../layout/columns

block title
    | docs | font family




mixin table-row( name, value )

    tr
        td.pad-h5.pad-v3.va-top.whs-nowrap= name
        td.pad-h5.pad-v3.va-top.code= value





append content

    +main-title( "Font Family" )

    +intro-text
        :marked
            The font stacks that come by default with Eezo have been
            designed to **maximize compatibility** and aesthetics.

    :marked
        For the sans/serif type; [Noto](https://www.google.com/get/noto/)
        comes first, followed by some popular/common open fonts, and then
        finally some pleasant system defaults.

        Even if you're a western developer/author, not designing for
        eastern screens with CJK text; your website is still probably 
        being viewed and translated by users from there.
        So there's also pleasant CJK defaults.

    table.mar-t7.mb-12.txt-l.txt-sans

        thead

            tr

                th.pad-v3.pad-h5.bor-b1 class name
                th.pad-v3.pad-h5.bor-b1 font stack

        tbody.txt-code

            +table-row( ".txt-code", "Menlo, Monaco, Consolas, monospace" )
            +table-row( ".txt-heading", "Proxima Nova, Lato, Avenir, Arial, sans-serif, 微软雅黑体, 微软雅黑, Microsoft YaHei, 黑体, SimHei, 冬青黑体, Hiragino Sans GB, 华文黑体, STHeiti, sans-serif" )
            +table-row( ".txt-sans", "Noto Sans, Open Sans, Lato, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif, 微软雅黑体, 微软雅黑, Microsoft YaHei, 黑体, SimHei, 冬青黑体, Hiragino Sans GB, 华文黑体, STHeiti, sans-serif" )
            +table-row( ".txt-serif", "Noto Serif, Merriweather, Georgia, serif, 新細明體, PMingLiU, 华文细黑, STXihei, 宋体, SimSun, serif" )




    +sub-title( "Usage example" )

    :marked
        Out of the box, Eezo will come with the classes
        defined above, and here's an example of how to use
        them in your `html`

    :prismjs( language = "html" )
        <body class="txt-serif">

           <h1 class="txt-heading"> heading <h1>
            <p class="txt-sans"> sub-heading </p>
          <pre class="txt-code"> code style </pre>

        </body>

    +sub-title( "Media Queries" )

    +no-media-query

    +sub-title( "Customising" )

    +small-title( "Default Classes" )

    :marked
        To change the prefix from `txt` to something else, you
        may use the `$font-family-prop` variable to override.

    :prismjs( language = "scss" )
        // change the default class:
        // .txt-*  ->  .ff-*
        $font-family-prop: "ff";

    +small-title( "Custom Fonts" )

    :marked
        Supply a `$custom-fonts` map to
        add your own custom font sets:

    :prismjs( language = "scss" )
        // override the sans-serif font family, 
        // and add a new font-family:
        $custom-fonts: (
          sans: "Helvetica",
          chuck: "Chuck Norris"
        );

    +small-title( "Combined" )

    :marked
        The previous two customisations combined:

    :prismjs( language = "scss" )
        // would result in css like:
        .ff-sans { font-family: "Helvetica"; }
        .ff-chuck { font-family: "Chuck Norris"; }

    +source-file( "/src/components/text/_family.scss" )