
// Find the next key in a map.
// @param {Map} $map - Map to traverse.
// @param {Mixed} $key - Key to use as a starting point.
// @returns {Mixed} The value for the key after `$key`, if `$key` was found. If `$key` was not found, or `$key` was the last value in the map, returns `null`.
// - borrowed from Zurb Foundation 6

@function map-next( $map, $key ) {

    // Store the values of the map as a list, so we can access them with nth
    $values: map-values( $map );

    // Ghetto for loop
    $i: 1;
    $found: false;
    @each $val in map-keys( $map ) {

        @if $found == false {

            @if ( $key == $val ) {
                $found: true;
            }

            $i: $i + 1;

        }

    }

    // If the key doesn't exist, or it's the last key in the map, return null
    @if $i > length( $map ) {
        @return null;
    }

    // Otherwise, return the value
    @else {
        @return nth( $values, $i );
    }

}
