
$eezo-purple:   #B8A2FD;
$eezo-beige:    #fec894;
$eezo-pink:     #F77F9F;
$eezo-blue:     #6CAEDA;

$custom-colors: (

    eezo-purple:    $eezo-purple,
    eezo-beige:     $eezo-beige,
    eezo-pink:      $eezo-pink,
    eezo-blue:      $eezo-blue,

);

$link-normal: $eezo-blue;
$link-visited: $eezo-blue;
$link-hover: $eezo-pink;

@import "bower_components/eezo/src/eezo";
$pitch: map-get( $colors, pitch );


header {

    background-image: url( "../img/nebular.jpg" );

    svg path {

        fill: $pitch;

    }

}

nav {

    ul {

        list-style: none;

    }

}