
extends ./layout/columns

block title
    | docs | customising eezo








append content



    +main-title( "Customising Eezo" )

    +intro-text
        :marked
            Section about how to customise the default colours, coords, distances, text scale

    :marked


    +source-file( "/src/defaults" )
