
extends ./layout/columns

append content

    h2.ls3 Installation

    p
        | There's a couple of ways to get Eezo running,
        | there's the classic method of downloading a css
        | file and including, or the more advanced Bower method.


    h3.mar-t100 Download a bundle

    p
        | Perhaps the simplest way to get Eezo running is
        | to download and include one of the bundles from
        | Github. There's a few options, listed below.

    table.txt-sans.mb-12.txt-l.bor-b1.bor-dark.pad-b30.mar-v100

        mixin table-head( name )
            th(scope=col).pad-v10.bor-b1.bor-dark= name

        mixin table-button( name, link )
            td: a(href= link).mb-12.btn-alt.noline.pad-h20.txt-code.bg-x.bor-pitch.pitch= name

        mixin table-size( size )
            td.txt-code.dark-purple= size

        tr
            +table-head("Bundle Name")
            +table-head("Size")
            +table-head("Download")

        tr
            th(scope=row).mb-7.pad-t20
                div.txt-code.f4 Core
                .fw-n.lh1
                    | The basic bundle for Eezo, containing the most
                    | common css compositions, no extra weight.

            +table-size("7.65kb")
            +table-button("Core", "#")

        tr
            th(scope=row).pad-t20
                div.txt-code.f4 Core +
                .fw-n.lh1
                    | The basic bundle for Eezo, plus some extra
                    | features...

            +table-size("8.77kb")
            +table-button("Core +", "#")

    h3.mar-t100 Install with Bower

    pre(data-lang="sh").code
        | bower install --save eezo

    p
        | Installing with bower opens up the possibility of customising
        | Eezo's default options, allowing complete control over the 
        | different components.

    pre(data-lang="scss").code
        | /* import eezo as .scss for complete control */
        | @import "./bower_components/eezo/src/eezo";
        | 
        | /* or just include a bundle from the dist folder */
        | @import "./bower_components/eezo/dist/eezo-core";