
extends ./layout/columns

append content

    h2 Installation

    p
        | There's a couple of ways to get Eezo running,
        | there's the classic method of downloading a css
        | file and including, or the more advanced Bower method.


    h3 Download a bundle

    p
        | Perhaps the simplest way to get Eezo running is
        | to download and include one of the bundles from
        | Github. There's a few options, listed below.

    table.txt-sans.mb-12.txt-l

        tr
            th(scope=col).pad-v10.bor-b1.bor-b-dark Bundle Name
            th(scope=col).pad-v10.bor-b1.bor-b-dark Size
            th(scope=col).pad-v10.bor-b1.bor-b-dark Download

        tr
            th(scope=row).mb-7
                div Core
                .fw-n
                    | The basic bundle for Eezo, containing the most
                    | common css compositions, no extra weight.

            td.txt-code.purple 7.65kb

            td: a(href="#").mb-12.btn-alt.noline.pad-h20 Core

    h3 Install with Bower