
extends ./layout/columns

block title
    | docs | getting started




mixin table-head( name )
    th(scope=col).pad-v4.bor-b1.bor-dark= name

mixin table-size( size )
    td.txt-code.docs-purple= size

mixin table-button( name, link )
    td: a(href= link).mb-12.btn-alt.btn-min.noline.txt-code= name




append content

    +main-title( "Installation" )

    p
        | There's a couple of ways to get Eezo running,
        | there's the classic method of downloading a css
        | file and including, or the more advanced Bower method.


    +sub-title( "Download a bundle" )

    p
        | Perhaps the simplest way to get Eezo running is
        | to download and include one of the bundles from
        | Github. There's a few options, listed below.

    table.txt-sans.mb-12.txt-l.bor-b1.bor-dark.pad-b4.mar-v100

        tr
            +table-head("Bundle Name")
            +table-head("Size")
            +table-head("Download")

        tr
            th(scope=row).mb-7.pad-t3
                div.txt-code.f3 Core
                .fw-n.lh1
                    | The basic bundle for Eezo, containing the most
                    | common css compositions, no extra weight.

            +table-size("~ 7.65kb")
            +table-button("Core", "#")

        tr
            th(scope=row).pad-t20
                div.txt-code.f3 Core +
                .fw-n.lh1
                    | The basic bundle for Eezo, plus some extra
                    | features...

            +table-size("~ 8.77kb")
            +table-button("Core +", "#")

    +sub-title( "Install with Bower" )

    :prismjs( language = "bash" )
        bower install --save eezo

    p
        | Installing with bower opens up the possibility of customising
        | Eezo's default options, allowing complete control over the
        | different components.

    :prismjs( language = "scss" )
        /* import eezo as .scss for complete control */
        @import "./bower_components/eezo/src/eezo";

        /* or just include a bundle from the dist folder */
        @import "./bower_components/eezo/dist/eezo-core";