
header.docs-header.bg-eezo-pitch-lighter.bg-c.bg-no-rpt

    .container.center.pos-r

        include ../../nav

        h1.docs-header__logo.pad-v5.mar-0

            include /dist/assets/img/eezo.svg

            span.hidden Eezo