
header.docs-header.bg-pitch-darker

    .container.center.pos-r.pad-h50

        include ../../nav

        h1.docs-header__logo.pad-v10.mar-0

            include /dist/assets/img/eezo.svg

            span.hidden Eezo