
header.docs-header.bg-pitch-darker

    .container.center.pos-r.pad-7

        include ../../nav

        h1.docs-header__logo.mar-0.pos-r.t2-

            include /dist/assets/img/eezo.svg

            span.hidden Eezo