
mixin main-title( text )

    h2.ls1.fw-t= text

mixin sub-title( text )

    - link = text.replace(" ","-").toLowerCase();
    h3( id = link ).mar-t8.mar-b6
        a( href = "#" + link ).subtitle.link= text

mixin small-title( text )

    - link = text.replace(" ","-").toLowerCase();
    h4( id = link ).mar-t6.mar-b4.ls1
        a( href = "#" + link ).subtitle.link= text

mixin intro-text

    div.f2.tb-txt-j
        block



mixin table

    table.mar-t8.mar-b6.mb-12.txt-l.txt-sans
        block

mixin table-cell

    td.pad-3
        block

mixin table-head

    th.pad-3.bor-b1
        block

mixin table-divider( cells )

    tr( role = presentation )
        td( colspan = cells, role = presentation ).pad-0.bor-b1.bor-light





mixin no-media-query

    :marked
        No media query support for this property.
        It might not be necessary to supply different
        values at different breakpoints. Please refer to
        ([the `media-query` documentation](xxmqxx)) for more info.


mixin source-file( path )

    hr.bg-x.bor-0.bor-b1.bor-light.mar-t9.mar-b8

    p.txt-sans

        | view the source on github: 

        code: a( href="https://github.com/simeydotme/eezo/tree/master/" + path )=path