mixin header( name, border )

    li.mar-t6
        if border
            hr.bor-0.bor-t1.bor-t-light
            h4.pad-l4.mar-b2.f2= name
        else
            h4.pad-l4.mar-b2.mar-t6.f2.fw-bold= name

mixin item( name, url )

    li.pad-l4
        if url
            a( href="/dist/docs" + url )= name
        else
            a(href="#")= name




ul.mar-0.pad-0.txt-sans

    li.mar-t2
        h4.pad-l4.mar-b2.mar-t2.f2 Getting Started

    +item( "Installation",      "/" )

    +header( "Colour", true )
    +item( "Colours",           "/colors.html" )

    +header( "Text" )

    +item( "Colour",            "/text/color.html" )
    +item( "Font Family",       "/text/font-family.html" )
    +item( "Font Size",         "/text/font-size.html" )
    +item( "Line Height",       "/text/line-height.html" )
    +item( "Font Weight",       "/text/font-weight.html" )
    +item( "Font Style",        "/text/font-style.html" )
    +item( "Text Decoration",   "/text/decoration.html" )
    +item( "Text Align",        "/text/alignment.html" )
    +item( "Text Transform",    "/text/transform.html" )
    +item( "Letter Spacing",    "/text/letter-spacing.html" )
    +item( "White Space",       "/text/white-space.html" )
    +item( "Word Break",        "/text/word-break.html" )
    +item( "Word Spacing",      "/text/word-spacing.html" )
    +item( "Word Wrap",         "/text/word-wrap.html" )

    +header( "Border" )
    +item( "Colours",           "/border/color.html" )
    +item( "Radius",            "/border/radius.html" )
    +item( "Style",             "/border/style.html" )

    +header( "Background" )
    +item( "Colours",           "/background/color.html" )

    +header( "SVG" )
    +item( "Fill",              "/svg/fill.html" )
