mixin header( name, border )

    li.mar-t6
        if border
            hr.bor-t1.bor-t-light
            h4.pad-l4.mar-b2.f2.fw-bold= name
        else
            h4.pad-l4.mar-b2.mar-t6.f2.fw-bold= name

mixin item( name, url )

    li.pad-l4
        if url
            a( href="/dist/docs" + url )= name
        else
            a(href="#")= name




ul.mar-0.pad-0.txt-sans

    +header( "Getting Started" )

    +item( "Installation" )

    +header( "Styles", true )
    +header( "Text" )

    +item( "Font Family", "/text/font-family.html" )
    +item( "Font Size", "/text/font-size.html" )
    +item( "Text Align", "/text/alignment.html" )

    +header( "Colour" )
    +item( "Colours", "/colors.html" )