
$border-prop:   "bor" !default;
$border-bps:    $default-bps !default;

$border-coords: (

    "":     "",
    "t":    "top",
    "b":    "bottom",
    "l":    "left",
    "r":    "right",

) !default;


/**
 * source order matters for borders;
 * the colours must come after the styles, else
 * they will not be overridden.
 */
@import "style";
@import "color";
@import "radius";

@mixin borders() {

    @include border-style();
    @include border-color();
    @include border-radius();

}
