
$border-prop:   "bor" !default;
$border-bps:    $default-bps !default;

$border-coords: (

    "":     "",
    "t":    "top",
    "b":    "bottom",
    "l":    "left",
    "r":    "right",

) !default;



@import "color";
@import "radius";
@import "style";

@mixin borders() {

    @include border-color();
    @include border-radius();
    @include border-style();

}
