
$border-radius-prop:    "rad-" !default;
$border-radius: (

    "0":    0,
    "1":    1px,
    "2":    2px,
    "3":    3px,
    "4":    4px,
    "5":    5px,
    "10":   10px,
    "c":    100%,

) !default;



@mixin border-radius() {

    $p: $border-radius-prop;

    @each $rad in $border-radius {

        $key: nth( $rad, 1 );
        $val: nth( $rad, 2 );

        .#{ $p }#{ $key } {

            border-radius: $val;

        }

    }

}
