
// $rem is the root element's pixel value should usually 
// be 100% (16px), as this is the default for most browsers.
// if you want to override this, it should be in px / %.
$rem: 100% !default;

// $breakpoints accepts px / em values
// if no unit is provided, it defaults to em.
$breakpoints: (
    mb: 0,
    tb: 48,
    dt: 64,
    hg: 75
) !default;

// $default-bps defines the default breakpoints
// used in most of the components.
$default-bps: ("mb", "tb", "dt") !default;
