
$font-sizes: (

    "-2":       0.75rem,
    "-1":       0.875rem,
    "-n":       1rem,
    "\\+1":     1.125rem,
    "\\+2":     1.25rem,
    "\\+3":     1.5rem,
    "\\+4":     1.75rem,
    "\\+5":     2rem,
    "\\+6":     2.5rem,
    "\\+7":     3rem,

) !default;

// coords is the coordinates for positioning
// such as "top", "left", "bottom", "right"
$coords: (

    "":         ( "t", "b", "l", "r" ),
    v:          ( "t", "b" ),
    h:          ( "l", "r" ),
    t:          "top",
    b:          "bottom",
    r:          "right",
    l:          "left",

) !default;

// coords-neg is the coordinates for positioning negatively
// such as "top", "left", "bottom", "right" negatively
$coords-neg: (

    t:          "top",
    b:          "bottom",
    r:          "right",
    l:          "left",

) !default;

// distances holds a list of distances
// that we want to use for things such as margins
$distances: (

    "0":        0,
    "2":        rems( 2px ),
    "5":        rems( 5px ),
    "10":       rems( 10px ),
    "15":       rems( 15px ),
    "20":       rems( 20px ),
    "30":       rems( 30px ),
    "50":       rems( 50px ),
    "100":      rems( 100px ),

) !default;

// negative distances holds a list of distances
// that we want to use for things such as margins
$distances-neg: (

    "n2":       rems( -2px ),
    "n5":       rems( -5px ),
    "n10":      rems( -10px ),
    "n15":      rems( -15px ),
    "n20":      rems( -20px ),

) !default;


// default colors for all components
// can be overridden here or per-component.
$custom-colors: () !default;

// default colors are static.
$default-colors: (

    "x":        transparent,
    "blk":      #000,
    "black":    #1a1a1a,
    "cream":    #f7f2eb,
    "wht":      #fff,
    "white":    #f9f9f9,
    "grey":     #82848e,
    "dark":     #575c67,
    "light":    #b5b8bf,
    "silver":   #dde3e6,
    "gold":     #c7aa5c,
    "pitch":    #161f23,

);

$extra-colors: (

    "blue":     #1e9bd6,
    "green":    #1ed668,
    "mint":     #31e894,
    "orange":   #d66a1e,
    "pink":     #ec2666,
    "purple":   #5930d6,
    "red":      #d61e40,
    "teal":     #26ab92,
    "violet":   #981bd8,
    "yellow":   #d6d01e,

) !default;

$colors: map-merge( $default-colors, $custom-colors );
$no-extra-colors: false !default;


@if ( $no-extra-colors != true ) {
    $colors: map-merge( $default-colors, $extra-colors );
}
