
$background-attachments: (

    scr:    scroll,
    fix:    fixed,
    loc:    local,

) !default;



@mixin background-attachment( $bps: $background-bps ) {

    $p: hyphen-after( $background-prop );

    @each $b in $bps {

        @if $b == nth( $default-bps, 1 ) {
            $b: "";
        }

        @include breakpoint( $b ) {

            $bp: hyphen-after( $b );

            @each $attach in $background-attachments {

                $key: nth( $attach, 1 );
                $val: nth( $attach, 2 );

                .#{ $bp }#{ $p }#{ $key } {
                    background-attachment: $val;
                }

            }

        }

    }

}
