
$background-colors: $colors !default;



@mixin background-color() {

    $p: hyphen-after( $background-prop );

    @each $clr in $background-colors {

        $key: nth( $clr, 1 );
        $val: nth( $clr, 2 );

        .#{ $p }#{ $key } {
            background-color: $val;
        }

    }

}
