
$background-repeats: (

    rpt:        repeat,
    no-rpt:     no-repeat,
    rpt-x:      repeat-x,
    rpt-y:      repeat-y,
    spc:        space,
    rnd:        round,

) !default;



@mixin background-repeat() {

    $p: hyphen-after( $background-prop );

    @each $rpt in $background-repeats {

        $key: nth( $rpt, 1 );
        $val: nth( $rpt, 2 );

        .#{ $p }#{ $key } {
            background-repeat: $val;
        }

    }

}
